extends layouts/profile_page.pug

block variables
    - let title = "Изменить данные"
    - let login = "alex"
    - let email = "alex@foo.bar"
    - let firstName = "Александр"
    - let lastName = "Березин"
    - let displayName = "Alex"
    - let phone = "+7 (888) 123-45-67"
    - let backUrl = "profile.pug"

block profile_header
    include components/profile/change_avatar_modal.pug
    .profile__avatar(id="avatar_change_div")
        span Изменить аватар

block profile_body
    .field-wrapper 
        span Почта
        input.profile__field(value=email)
    .field-wrapper 
        span Логин
        input.profile__field(value=login)
    .field-wrapper 
        span Имя
        input.profile__field(value=firstName)
    .field-wrapper 
        span Фамилия
        input.profile__field(value=lastName)
    .field-wrapper 
        span Имя в чате
        input.profile__field(value=displayName)
    .field-wrapper 
        span Телефон
        input.profile__field(value=phone)

block profile_footer
    button.button.button_blue Сохранить

block script
    script(src="./scripts/profile.js" type="module")