extends layouts/profile_page.pug

block variables
    - let title = "Профиль"
    - let login = "alex"
    - let email = "alex@foo.bar"
    - let firstName = "Александр"
    - let lastName = "Березин"
    - let displayName = "Alex"
    - let phone = "+7 (888) 123-45-67"
    - let backUrl = "chat.pug"

block profile_header
    .profile__avatar
    p.profile__login= displayName

block profile_body
    .field-wrapper
        span Почта
        input.profile__field(disabled value=email)
    .field-wrapper
        span Логин
        input.profile__field(disabled value=login)
    .field-wrapper
        span Имя
        input.profile__field(disabled value=firstName)
    .field-wrapper
        span Фамилия
        input.profile__field(disabled value=lastName)
    .field-wrapper
        span Имя в чате
        input.profile__field(disabled value=displayName)
    .field-wrapper
        span Телефон
        input.profile__field(disabled value=phone)

block profile_footer
    a(href="profile_change_data.pug") Изменить данные
    a(href="profile_change_password.pug") Изменить пароль
    a(href="index.pug") Выйти